@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
::-webkit-scrollbar {
    width: 12px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
}

::-webkit-scrollbar-thumb:hover {
    background: #616974;
}

.dark ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f71f;
}


/* Handle */

.dark ::-webkit-scrollbar-thumb {
    background: #0505051f;
    border-radius: 100vh;
    border: 3px solid #4e4e4e00;
}


/* Handle on hover */

.dark ::-webkit-scrollbar-thumb:hover {
    background: #a0aec077;
}

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

::selection {
    color: lightgray;
    background: #097954;
}



tr {
    text-align: center;
    border-bottom: 1px solid rgb(184, 184, 184);
    /* border-left: 1px solid rgb(92, 92, 92); */

}

td {
    padding: 8px 10px;
    border-left: 1px solid rgb(233, 233, 233);
}

tr:hover {
    background-color: rgb(235, 235, 235);
}

tr:active {
    background-color: rgb(196, 196, 196);
}

th {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 0 10px 0 10px;
}

.dark tr:hover {
    background-color: #111827;
}


@keyframes slidein {
    0% {
        position: relative;
        left: -100%;
    }
    100% {
        position: relative;
        left: 0%;
    }
}

.slider:nth-child(1) {
    animation: slidein 1s ease-in-out 0.1s forwards;
}

.slider:nth-child(2) {
    animation: slidein 1s ease-in-out 0.3s forwards;
}

.slider:nth-child(3) {
    animation: slidein 1s ease-in-out 0.6s forwards;
}


@keyframes scalein {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

.tab {
    animation: scalein 500ms ease-in-out 0.1s forwards;
}

.hero {
    background: linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.1)
        ),
        url('./img/pw_bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}

.dark .hero {
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url('./img/pw_bg2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    color: white;
}

.game-cell {
    width: 80%;
}

.dot-falling {
    position: relative;
    left: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 0 #9880ff;
    animation: dotFalling 1s infinite linear;
    animation-delay: .1s;
  }
  
  .dot-falling::before, .dot-falling::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-falling::before {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #FFF;
    color: #FFF;
    animation: dotFallingBefore 1s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-falling::after {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #FFF;
    color: #FFF;
    animation: dotFallingAfter 1s infinite linear;
    animation-delay: .2s;
  }
  
  @keyframes dotFalling {
    0% {
      box-shadow: 9999px -6px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
      box-shadow: 9999px 0 0 0 #FFF;
    }
    100% {
      box-shadow: 9999px 6px 0 0 rgba(152, 128, 255, 0);
    }
  }
  
  @keyframes dotFallingBefore {
    0% {
      box-shadow: 9988px -6px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
      box-shadow: 9988px 0 0 0 #FFF;
    }
    100% {
      box-shadow: 9988px 6px 0 0 rgba(152, 128, 255, 0);
    }
  }
  
  @keyframes dotFallingAfter {
    0% {
      box-shadow: 10010px -6px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
      box-shadow: 10010px 0 0 0 #FFF;
    }
    100% {
      box-shadow: 10010px 6px 0 0 rgba(152, 128, 255, 0);
    }
  }
  